.search-box {
  position: relative;
  input {
    background: map-get($map: $colors, $key: grey-20);
    border-radius: 16px;
    width: 100%;
    height: 58px;
    border: 0;
    text-align: right;
    direction: rtl;
    padding: 0 20px;
  }
  &__icon {
    position: absolute;
    top: 18px;
    left: 12px;
  }
}

@include media-breakpoint-up(md) {
  .search-box {
    input {
      height: 44px;
      font-size: map-get($font-sizes, 2);
    }
    &__icon {
      top: 11px;
    }
  }
}
