.mobile-tablet-modal {
  height: 100%;
  padding-bottom: 70px;
  background-color: map-get($map: $colors, $key: grey-25);
  .app-bar {
    justify-content: center;
    display: flex;
    padding: 20px;
    background-color: map-get($colors, grey-20);
    box-shadow: 0 0 15px map-get($map: $colors, $key: grey-21);
    .icon{
        margin-left: 20px;
    }
    .title{
        text-align: center;
    }
  }
}
