engine-strict=true
registry=http://nexus.780.ir/repository/npm-group/
email=developer@780.ir
always-auth=true
//nexus.780.ir/repository/npm-proxy/:_auth="ZGV2ZWxvcGVyOlp6MTIzNDU2Nzg="
legacy-peer-deps=true

# Set the cache directory to a custom location
# This directory is where npm will store cached packages.
cache=~/.npm-cache

# Prefer using cached packages if they are available.
# This setting tells npm to use the cache if possible, and only reach out to the network if the package is not in the cache.
prefer-offline=true

# Prefer fetching packages from the network even if they are in the cache.
# This setting tells npm to always check the network for the latest version of the package before using the cache.
# Useful when you want to ensure you always have the latest packages.
prefer-online=false

# Enable offline mode (use cached packages, do not reach out to the network at all).
# This is useful for development environments where network access is limited or to enforce using only cached packages.
offline=false

# Log level, useful for debugging.
# Available levels: silent, error, warn, notice, http, timing, info, verbose, silly
# 'info' is a common choice for general usage, providing useful information without being too verbose.
loglevel=warn

# Cache min and max settings are deprecated. Instead, use prefer-offline and prefer-online for controlling cache usage.
#cache-min=10        # Deprecated: Minimum time (in seconds) to consider cache valid for semver ranges
#cache-max=86400     # Deprecated: Maximum time (in seconds) to consider cache valid for semver ranges
