.download {
  &__btn {
    a {
      text-decoration: none;
    }
    button {
      background-color: map-get($colors, surface);
      border: 1px solid map-get($colors, primary);
      min-height: 55px;
      border-radius: 8rem;
      margin-bottom: 10px;
      text-align: right;
      padding: 0.5rem !important;
      span {
        font-size: 0.75rem;
        font-weight: map-get($font-weights, '500');
        width: 80%;
      }
    }
  }
  &__form {
    &__qr {
      width: 64px;
      height: 64px;
      border-radius: 1rem !important;
      border: 1px solid map-get($colors, primary);
      cursor: pointer;
      background-color: map-get($colors, surface);
    }
    input {
      height: 64px;
      border-radius: 1rem !important;
      background-color: map-get($colors, surface) !important;
      border: 1px solid map-get($colors, primary) !important;
      direction: rtl;
      min-width: 316px;
      font-size: 1rem !important;
      &::placeholder {
        font-size: small;
      }
    }
    button {
      position: absolute;
      left: 23%;
      background-color: map-get($colors, primary);
      color: map-get($colors, on-primary);
      border: 0;
      border-radius: 1rem !important;
      font-size: map-get($font-sizes, 2);
      z-index: 100;
      width: 100px;
      height: 35px;
    }
    button:disabled {
      background-color: rgba(map-get($colors, on-surface), 0.12);
    }
  }
}

@media screen and (max-width: 768px) {
  .download {
    &__btn {
      button {
        width: 230px;
        border: 1px solid map-get($colors, primary);
      }
    }
  }
}
