.title {
  font-size: map-get($map: $font-sizes, $key: 4);
  font-weight: map-get($map: $font-weights, $key: '700');

  @include breakpoint-down(md) {
    font-size: map-get($map: $font-sizes, $key: 3);
  }
}
