@include media-breakpoint-down(sm) {
  .main {
    margin: 0 -1.5rem;
    font-size: 12px;
    align-items: center;
    padding: 15px 12px !important;

    .text {
      padding-right: 5px !important;
    }
  }
}
