@import 'node_modules/bootstrap/scss/mixins/breakpoints';
[aria-expanded='true'] {
  .invoice__expandIcon {
    transform: rotate(180deg);
  }
}
.invoice {
  border-radius: 24px 24px 0 0;

  &--roundTrip {
    margin-top: -1.3rem;
    border-radius: 24px 24px 0 0;
    position: relative;
    overflow-y: auto;
  }

  &__topLine {
    border-top: 4px solid map-get($colors, grey-2);
    width: 30px;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 7px;
    border-radius: 2px;
  }

  &__table {
    margin: 0 auto;

    &__header {
      background-color: map-get($colors, blue-grey);
      height: 40px;
      border-radius: 5px 5px 0 0;
      display: flex;
      align-items: center;
      color: map-get($colors, grey-1);
      font-weight: 500;
      padding-right: 1.25rem;
    }

    &__body tr {
      border-bottom: 1px solid map-get($colors, grey-3);

      &:last-of-type {
        border-bottom: 0;
      }
      td {
        text-align: center;
        height: 50px;
      }
    }

    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: map-get($colors, white);
    width: 96%;
  }

  &__divider {
    border-top: 2px solid map-get($colors, grey-2);
    opacity: 0.2;

    &:last-child {
      display: none;
    }
  }

  &__accordion {
    [aria-expanded='true'] {
      .invoice__expandIcon {
        transform: rotate(180deg);
      }
    }

    &__age-type {
      display: flex;
      padding: 2px 4px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      border-radius: 8px;
      background: #f2f2f2;
      color: #536279;
      text-align: center;

      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
    }

    &__passengerType {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px 4px;
      margin-inline-start: 12px;
      border-radius: 8px;
      background: #f2f2f2;
      color: #536279;
      text-align: center;
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
    }

    &__info-message {
      padding: 12px;
      margin-block: 24px 8px;
      border-radius: var(--Spacing-12, 12px);
      background: var(--780-main-warning-container, #fed);
      color: var(--780-main-on-warning-container, #2a1800);
      font-size: 12px;
      text-align: justify;

      @media screen and (min-width: map-get($grid-breakpoints, md)) {
        &__icon {
          scale: 1.25;
          margin: 4px;
        }

        &__message {
          margin-inline-start: 8px;
          font-size: 16px;
        }
      }
    }

    &__totalPrice {
      background-color: map-get($colors, green);
      border-radius: 0 0 5px 5px;
    }
    &__options {
      text-align: end;
    }
  }

  &__expandIcon {
    color: map-get($colors, grey-1);
    cursor: pointer;
  }

  &__footer {
    display: flex;
    background-color: map-get($colors, white-2);
    padding: 1rem;
    margin-top: 1rem;
  }

  &__offCode {
    &__btn {
      background-color: transparent !important;
      color: map-get($colors, grey-2);
      font-weight: 500;
      font-size: 12px;
      border: 1px solid;
      border-radius: 12px;
    }

    &__suffix {
      left: 7.5rem !important;
    }
  }

  &__phoneNumber {
    &__suffix {
      left: 3rem !important;
    }
  }
}

@include media-breakpoint-up(md) {
  .invoice {
    &--roundTrip {
      padding-bottom: 20rem;
    }
    &__table {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
      width: 100%;

      &__footer-btn {
        font-size: map-get($font-sizes, 2);
        border: 1px solid map-get($colors, black);
        height: 40px;
        cursor: pointer;
        min-width: 140px;
      }

      &__header {
        background-color: map-get($colors, white);
        border-bottom: 1px solid map-get($colors, blue-grey);
        &--details {
          border-bottom: 0;
          border-top: 1px solid map-get($colors, blue-grey);
        }
      }
    }

    &__inside-table {
      border-radius: 8px;
      background-color: map-get($colors, white-1);
      font-size: map-get($font-sizes, 2);
      border-collapse: collapse;
      overflow: hidden;

      &__header {
        background-color: map-get($colors, blue-grey);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        height: 3rem;

        span {
          font-weight: map-get($font-weights, 400);
        }
      }

      &__content {
        border-top: 1px solid map-get($colors, blue-grey);
        height: 3rem;
      }
    }

    &__offCode__btn {
      height: 40px;
      width: 20%;
      border-radius: 20px;
    }

    &__collapse {
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition:
        height 1.5s ease,
        opacity 0.5s;

      &__expand {
        height: 265px;
        overflow-y: scroll;
        visibility: visible;
        opacity: 1;
        transition:
          height 0.5s ease,
          opacity 1s;

        &--hide-scroll {
          &::-webkit-scrollbar {
            width: 0px;
          }
        }
      }
    }
    &__font {
      font-size: map-get($font-sizes, 3);
    }
    &__large-font {
      font-size: map-get($font-sizes, 4);
    }
  }
}
@include media-breakpoint-up(md) {
  .invoice {
    padding-bottom: 1rem;

    &--roundTrip {
      padding-bottom: 20rem;
    }
    &__table {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
      width: 100%;

      &__footer-btn {
        font-size: map-get($font-sizes, 3);
        border: 1px solid map-get($colors, black);
        height: 1.5rem;
        cursor: pointer;
        min-width: 140px;
      }

      &__header {
        background-color: map-get($colors, white);
        border-bottom: 1px solid map-get($colors, blue-grey);

        &__passenger-type {
          margin-inline-start: 16px;
          color: map-get($map: $colors, $key: blue-light-6);
        }
      }
    }

    &__inside-table {
      border-radius: 8px;
      background-color: map-get($colors, white-1);
      font-size: map-get($font-sizes, 3);
      border-collapse: collapse;
      overflow: hidden;

      &__header {
        background-color: map-get($colors, blue-grey);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        height: 3rem;
      }

      &__content {
        border-top: 1px solid map-get($colors, blue-grey);
        height: 3rem;
      }
    }

    &__offCode__btn {
      height: 40px;
      width: 15%;
      border-radius: 20px;
    }
    &__collapse {
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition:
        height 1.5s ease,
        opacity 0.5s;

      &__expand {
        height: 265px;
        overflow-y: scroll;
        visibility: visible;
        opacity: 1;
        transition:
          height 0.5s ease,
          opacity 1s;

        &--hide-scroll {
          &::-webkit-scrollbar {
            width: 0px;
          }
        }
      }
    }
    &__font {
      font-size: map-get($font-sizes, 4);
    }
    &__large-font {
      font-size: map-get($font-sizes, 5);
    }
  }
}
