@mixin card {
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
  padding: 1rem;
}

.visa-detail-container {
  @include card;
  position: relative;
  margin: -30px auto 1rem;
  background-color: map-get($colors, surface-saj);
  &__icon {
    path {
      fill: map-get($colors, on-surface-var);
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 1rem;
    &__text {
      font-size: map-get($font-sizes, 5);
    }
  }
  &__divider {
    border: 1px solid map-get($colors, outline-var);
  }
  &__divider-dashed {
    border: 1px dashed map-get($colors, outline-var);
  }
  &__price {
    @include card;
    padding: 1rem 1rem 2rem;
    &__table {
      margin: 1rem 0;
      width: 100%;
      @include card;
      th {
        font-size: map-get($font-sizes, 3);
        font-weight: normal;
        color: map-get($colors, on-surface);
      }
      tr {
        font-weight: 500;
      }
      th,
      td,
      tr {
        padding: 1rem !important;
      }
      thead {
        background-color: map-get($colors, surface-container);
      }
    }
  }
  &__documents {
    @include card;
    margin: 1rem 0;
    &__required {
      background-color: map-get($colors, warning-container);
      padding: 1rem 1.5rem;
      border-radius: 0.5rem;
      span {
        color: map-get($colors, warning);
        padding-right: 8px;
        margin-bottom: 1rem;
      }
      svg {
        path {
          fill: map-get($colors, warning);
        }
      }
    }
    &__procedures {
      background-color: map-get($colors, success-container-var);
      padding: 1rem 1.5rem;
      border-radius: 0.5rem;
      span {
        color: map-get($colors, success);
        padding-right: 8px;
        margin-bottom: 1rem;
      }
      svg {
        path {
          fill: map-get($colors, success);
        }
      }
    }
  }
  &__support-card {
    @include card;
    background-color: map-get($colors, surface-saj);
    &__icon {
      fill: map-get($colors, primary);
    }
  }
  &__order-card {
    @include card;
    margin-bottom: 1rem;
    &__button {
      width: 100%;
      border-radius: 40px;
      background-color: map-get($colors, primary);
      color: map-get($colors, on-primary);
      height: 48px;
    }
    &__switch {
      direction: ltr;
      height: 17px;
      inset: 0;
    }
  }
  &__breadcrumb {
    display: flex;
    width: 100%;
  }
}

.visa-order-container {
  @include card;
  position: relative;
  margin: -50px auto 1rem;
  background-color: map-get($colors, surface-saj);
  &__title {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 1rem 0;
    &__center-text {
      grid-column: 2;
      justify-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }
    &__end-button {
      grid-column: 3;
      justify-self: end;
    }
  }
  &__return-button {
    background-color: transparent;
    border-radius: 30px;
    padding: 12px 4rem;
    border: 1px solid map-get($colors, primary);
    color: map-get($colors, primary);
    font-size: map-get($font-sizes, 3);
  }
  &__form {
    @include card;
    margin-bottom: 1rem;
    &__title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-bottom: 1rem;
    }
    &__footer {
      @include card;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      padding: 1.5rem 2rem;
      &__return-button {
        background-color: transparent;
        border-radius: 30px;
        padding: 12px 4rem;
        border: 2px solid map-get($colors, primary);
        color: map-get($colors, primary);
        font-size: map-get($font-sizes, 3);
      }
      &__submit-button {
        background-color: map-get($colors, primary);
        border-radius: 30px;
        padding: 12px 3rem;
        border: 1px solid map-get($colors, primary);
        color: map-get($colors, on-primary);
        font-size: map-get($font-sizes, 3);
      }
    }
  }
  &__confirm-section {
    @include card;
    margin-bottom: 1rem;
    &__return-button {
      background-color: transparent;
      border-radius: 30px;
      padding: 12px 4rem;
      border: 1px solid map-get($colors, primary);
      color: map-get($colors, primary);
      font-size: map-get($font-sizes, 3);
    }
  }
}
@include media-breakpoint-down(md) {
  .visa-detail-container {
    margin: -2.5rem auto 1rem;
    &__title {
      display: flex;
      flex-direction: column;
      &__text {
        font-size: map-get($font-sizes, 3);
      }
    }
    &__warranty {
      span {
        font-size: map-get($colors, 4);
      }
      p {
        text-align: justify;
        font-size: map-get($font-sizes, 3);
      }
    }
    &__price {
      margin: 1rem 0;
      padding: 1rem;
      &__card {
        border-radius: 8px 8px 0 0;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
        margin-bottom: 1rem;
        &__title {
          background-color: map-get($colors, blue-light-4);
          padding: 1rem 0.5rem;
          color: map-get($colors, grey-19);
        }
      }
    }
  }
  .visa-order-container {
    margin: -1.5rem auto 1rem;
    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      &__center-text {
        flex-direction: column;
      }
      &__flag {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          font-size: map-get($font-sizes, 4) !important;
          padding: 1rem 0;
        }
      }
      &__return-button {
        margin: 1rem 0;
      }
    }
    &__form {
      &__footer {
        display: flex;
        flex-direction: column;
        padding: 0;
        box-shadow: none;
        &__return-button {
          width: 100%;
        }
        &__submit-button {
          width: 100%;
          margin-top: 1rem;
        }
      }
    }
  }
}
